# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Fancy_BLJ-Gamelauncher\Snake\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
