body {
    font-family: "Lato", sans-serif;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f2f2f2;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 130px;
}
.sidenav a:hover {
    color: #009999;
  }
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
header{
    height: 130px;
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    padding-top: 20px;
    margin-top: 110px;
    }
.title{
    height: 100px;
    width: auto;
    margin-left: 15px;
}
.snakepic{
    width: 35%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    float: left;  
}
hr{
    border: 2.5px solid #009999;
    border-radius: 2px;
}
.startbutton{
    float: inline-start;
    margin-left:15px;
    background-color: white; 
    color: black; 
    border: 2px solid #009999;
    height: 60px;
    width: 150px;
}
.startbutton:hover {
    background-color: #009999;
    color: white;
  }